
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

/*------------------------------------------------
	Main Styles
------------------------------------------------*/

.container{
	width: 90%;
	margin: auto;
}

.search-div{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

input{
	width: 95%;
	margin-top: 2em;
	border-radius: 5px;
	border: solid lightgrey 1px;
	font-size: 16px;
	padding: .75em;
}

li{
	list-style: none;
}

.img-container{
	width: 100%;
	margin: 10% 2.5%;

	}

.img-container img{
	width: 250px;
	height: 250px;
}





/*------------------------------------------------
	Media Queries for Larger Screens
------------------------------------------------*/

/*-----------
	Tablet
------------*/

@media screen and (min-width: 768px){


	.img-container img{
		float: left;
		padding: 1em;
	}


}

/*-----------
	Desktop
------------*/

@media screen and (min-width: 1024px){


}