
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

/*------------------------------------------------
	Main Styles
------------------------------------------------*/
h1{
	margin-left: 1em;
	font-family: 'Bubbler One', sans-serif;
	color: #909DA6;
}


.container{
	width: 100%;
	margin: auto;
}

input{
	width: 40%;
	margin-top: 2em;
	margin-left: 30%;
	border-radius: 5px;
	border: solid lightgrey 1px;
	font-size: 16px;
	padding: .75em;
}

li{
	list-style: none;
}

.img-container{
	width: 100%;
	margin: 2.5% 1.5%;

	}

.img-container img{
	width: 250px;
	height: 250px;
}





/*------------------------------------------------
	Media Queries for Larger Screens
------------------------------------------------*/

/*-----------
	Tablet
------------*/

@media screen and (min-width: 768px){


	.img-container img{
		float: left;
		padding: 1em;
	}


}

/*-----------
	Desktop
------------*/

@media screen and (min-width: 1024px){


}